<p>Copy Writing</p>
		<p>The world revolves around copy and how it's presented. Whether that's an article on the printed page or the first words that catch your customer eyes on your site, good copy is what I do.</p>