<%= simple_form_for @fan do |f| %> 
		    <div class='container'>
		    	<div class="card">
		    		<div class="container">
		  				<p>Fan Response</p>    
					    <%= f.input :name, label: "First Name:  " %> 
					    <%= f.input :contact, label: "Email Address:  " %>
					    <%= f.input :comment, label: "Comment: " %>
					</div>
				</div>
			</div>
<% end %>

<p>why does this suck so badly</p>