<%= simple_form_for @help do |h| %> 
		    <div class='container'>
		    	<div class="card">
		    		<div class="container">
		  				<p>Creative writing</p>
		  				<p>I've been writing for as long as I can remember, I've written one novel, am working on a second. Whether you're looking for a short story or help working on your screen-play, I'm the man for the job.</p>    
					    <%= h.input :Name, label: "First Name:  " %> 
					    <%= h.input :contact, label: "Email Address:  " %>
					    <%= h.input :project, label: "Describe Your Project: " %>
					    
					</div>
				</div>
			</div>
<% end %>

<p>why does this suck so badly</p>