<div class='card' >
	
	
	<div class='card'>
		<h1 style="font-size:800%; text-align: center;"> Kerron Streater</h1>
		
		<p style="text-align: center;"> Welcome, Traveler!</p>

		<p>This is my site, whether you've found your way here through word of mouth, a business card, LinkedIn, or a conversation with yours truly, I'm happy to have you!</p>

		<p>I'm a bit of a jack of all trades, so before we get started... what brings you here?</p>

		<p><text class='fan'>I'm A Fan</text> <text class='creative'>Creative Writing</text> <text class='webdesign'>Web Design</text></p>

		<div id="render_fan">
			<%= render 'fan', fan: @fan %>
		</div>

		<div id="render_web">
			<%= render 'webdesign', web_employer: @web %>
		</div>

		<div id="render_help">
			<%= render 'help', help: @help %>
		</div>

	


		<p>Contact me</p>
		<p>This is the digital age, keeping in touch shouldn't be too hard. You can find me on these platforms</p>
	</div>
</div>