<div class='card' >
	
	<div class='card'>
		<h1 style="font-size:800%; text-align: center;"> Kerron Streater</h1>

		<p>Welcome to my website! I hope you find what you're looking for...</p>

		<p>Web Design?</p>

		<p>This webstie was created with Ruby on Rails. Rails was the first programming language I learned and the one I feel the most familiar with.</p>

		<p>On top of that I'm also familiar with Jquery, React, and a little bit of Java.</p>

		<p>Creative Writing</p>
		<p>I've been writing for as long as I can remember, I've written one novel, am working on a second. Whether you're looking for a short story or help working on your screen-play, I'm the man for the job.</p>

		<p>Copy Writing</p>
		<p>The world revolves around copy and how it's presented. Whether that's an article on the printed page or the first words that catch your customer eyes on your site, good copy is what I do.</p>


		<p>Contact me</p>
		<p>This is the digital age, keeping in touch shouldn't be too hard. You can find me on these platforms</p>
	</div>
</div>